* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #0b2434;
  padding: 20px;

  font-family: "Karla", sans-serif;
}

.dice--container {
  display: grid;
  grid-template: auto auto/ repeat(5, 1fr);
  gap: 20px;
}

main {
  background-color: #f5f5f5;
  height: 400px;
  max-width: 800px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.die--face {
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
}

.die--num {
  font-size: 2rem;
}

.roll--btn {
  background-color: #5035ff;
  color: #fff;
  border: none;
  font-weight: 700;
  padding: 1.2em 2em;
  font-family: "Karla", sans-serif;
  margin-top: 2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.roll--btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
